<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <script language="javascript">
    function callAPI(form) {

        // TODO: REMEMBER to convert all strings to lower case

        var obj = { bikeColor: form.bikeColor.value, priceMin: parseFloat(form.priceMin.value), priceMax: parseFloat(form.priceMax.value), inStock: Boolean(form.inStock.value), condition: form.condition.value.toLowerCase(), make: form.make.value.toLowerCase()};
        var json = JSON.stringify(obj);
        alert(json)

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:8080/inventory/search");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
        alert(xhttp.responseText);

    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>

<nav class="topnav">
    <a href="/manager">Home</a>
    <a class="active" href="/managerInventory">Inventory</a>
    <a href="/managerVendorHomePage">Vendor Orders</a>
    <a href="/managerBikeRepair">Bike Repair</a>
    <a href="/managerSalesDiscounts">Sales/Discounts</a>
    <a href="/managerEmployeeHome">Employees</a>
    <a href="/managerContact">Contact</a>
    <a href="/managerHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>


<body>
    <form class="form" NAME="myform" ACTION="" METHOD="GET">
        <label for="bikeColor">Bike Color:</label><br>
        <input type="text" id="bikeColor" name="bikeColor"><br>
        <label for="priceMin">Minimum Price:</label><br>
        <input type="text" id="priceMin" name="priceMin"><br>
        <label for="priceMax">Maximum Price:</label><br>
        <input type="text" id="priceMax" name="priceMax"><br>
        <label for="inStock">In Stock:</label><br>
        <input type="text" id="inStock" name="inStock"><br>
        <label for="condition">Condition:</label><br>
        <input type="text" id="condition" name="condition"><br>
        <label for="make">Make:</label><br>
        <input type="text" id="make" name="make"><br>
        <br>
        <input type="submit" value="Submit" onclick="return callAPI(this.form)">
    </form>
</body>
</html>