<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" href="css/bookkeeper.css">
</head>
<nav class="topnav">
    <a class="active" href="/manager">Home</a>
    <a href="/managerInventory">Inventory</a>
    <a href="/managerVendorHomePage">Vendor Orders</a>
    <a href="/managerBikeRepair">Bike Repair</a>
    <a href="/managerSalesDiscounts">Sales/Discounts</a>
    <a href="/managerEmployeeHome">Employees</a>
    <a href="/managerContact">Contact</a>
    <a href="/managerHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>

<div>
    <table>
        <caption>Weekly Schedule</caption>
        <br>
        <tr>
            <th rowspan="2">Name</th>
            <th rowspan="2">ID</th>
            <th colspan="2">Monday</th>
            <th colspan="2">Tuesday</th>
            <th colspan="2">Wednesday</th>
            <th colspan="2">Thursday</th>
            <th colspan="2">Friday</th>
            <th colspan="2">Saturday</th>
            <th colspan="2">Sunday</th>
        </tr>
        <tr>
            <td>12/07/2020</td>
            <td>Total</td>
            <td>12/08/2020</td>
            <td>Total</td>
            <td>12/09/2020</td>
            <td>Total</td>
            <td>12/10/2020</td>
            <td>Total</td>
            <td>12/11/2020</td>
            <td>Total</td>
            <td>12/12/2020</td>
            <td>Total</td>
            <td>12/13/2020</td>
            <td>Total</td>
        </tr>
        <tr>
            <td>Jacob ByerLine</td>
            <td>3</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>OFF</td>
            <td>00:00</td>
            <td>OFF</td>
            <td>00:00</td>
        </tr>
        <tr>
            <td>Thong</td>
            <td>4</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>08:00 AM - 04:00 PM</td>
            <td>08:00</td>
            <td>OFF</td>
            <td>00:00</td>
            <td>OFF</td>
            <td>00:00</td>
        </tr>

    </table>
</div>
<div class="bar"></div>
<div class="homepage">
    <div class="quickFunctionBox">
        <h2>Quick Functions</h2>
        <ul>
            <li><a href="" target="_blank">Make Schedule</a></li>
            <li><a href="/createEmployee" target="_blank">Add a New employee to the system</a></li>
            <li><a href="/updateEmployee" target="_blank">Update An Existing Employee's Information</a></li>
            <li><a href="/managerInventory" target="_blank">Search for an item in SCEB inventory</a></li>
            <li><a href="/vendorOrder" target="_blank">Start a new order with a Vendor</a></li>
        </ul>
    </div>
    <div id="buttons" class="schedule">
        <button class="clockInAndOut" onclick="clockIn()" value="Clock In">Clock In</button>
        <button class="clockInAndOut" onclick="clockOut()" value="Clock Out">Clock Out</button>
        <br>
        <br>
        <div id="timeSheet">
            <p id="date"></p>
            <p id="clockIn"></p>
            <p id="clockOut"></p>
            <p id="totalHours"></p>
        </div>
    </div>

</div>
<script>
    function clockIn() {
        var xhttp = new XMLHttpRequest();
        var request = "http://localhost:8080/account/timeIn/" + sessionStorage.getItem("getId");
        xhttp.open("GET", request);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
    }
    function clockOut() {
        var xhttp = new XMLHttpRequest();
        var request = "http://localhost:8080/account/timeOut/" + sessionStorage.getItem("getId");
        xhttp.open("GET", request);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        xhttp.onreadystatechange = function (){
            var out = xhttp.responseText.split("T");
            sessionStorage.setItem("clockOut", out);
        }
        timeSheet();
    }
    function timeSheet(){
        var xhttp = new XMLHttpRequest();
        var request = "http://localhost:8080/account/totalTime/" + sessionStorage.getItem("getId");
        xhttp.open("GET", request);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();

        var xhttp = new XMLHttpRequest();
        var request = "http://localhost:8080/account/timeSheet";
        xhttp.open("POST", request);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(sessionStorage.getItem("getId"));
        xhttp.onreadystatechange = function () {
            sessionStorage.setItem("result", xhttp.responseText);
        };

        var res = sessionStorage.getItem("result").split("\n");
        document.getElementById("date").innerText = "Today is: " + res[0];

        var clockIn = res[1].split("T");
        clockIn = clockIn[1].split("-");
        document.getElementById("clockIn").innerHTML = "Clocked in: " + clockIn[0];

        var d = new Date(),
            h = (d.getHours()<10?'0':'') + d.getHours(),
            m = (d.getMinutes()<10?'0':'') + d.getMinutes(),
            s = (d.getSeconds()<10?'0':'') + d.getSeconds();
        var clockOut = h + ':' + m + ':' + s;
        document.getElementById("clockOut").innerText = "Clocked out: " + clockOut;

        var hours = res[3].split("-");
        document.getElementById("totalHours").innerText = "Time worked: " + hours[0];

        document.getElementById("timeSheet").style.display = "block";

    }
</script>
</body>
</html>