<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>
<nav class="topnav">
    <a class="active" href="/manager">Home</a>
    <a href="/managerInventory">Inventory</a>
    <a href="/managerVendorHomePage">Vendor Orders</a>
    <a href="/managerBikeRepair">Bike Repair</a>
    <a href="/managerSalesDiscounts">Sales/Discounts</a>
    <a href="/managerEmployeeHome">Employees</a>
    <a href="/managerContact">Contact</a>
    <a href="/managerHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>
<div class="quickFunctionBox">
    <h2>Quick Functions</h2>
    <ul>
        <li><a href="/createEmployee">Add a New employee to the system</a></li>
        <li><a href="/updateEmployee">Update An Existing Employee's Information</a></li>
        <li><a href="/inventory">Search for an item in SCEB inventory</a></li>
        <li><a href="/vendorOrder">Start a new order with a Vendor</a></li>
    </ul>
</div>

</body>
</html>