<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Change Status of Vendor Order</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>
<body>
    <div class="limiter">
        <div class="container-login100">
            <form class="form">
                <label for="vendorOrderId">Search by Vendor Order #:</label><br>
                <input type="text" id="vendorOrderId" name="vendorOrderId"><br>

                <label for="vendorOrderStatus">Order Status: (Confirmed, Shipped, Arrived, Cancelled)</label><br>
                <input type="text" id="vendorOrderStatus" name="vendorOrderStatus"><br>

                <br>
                <input type="submit" value="Update Order" onclick="return callAPI(this.form)">
            </form>
        </div>
    </div>

</body>
</html>