<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Reset Password</title>
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">

    <script>
        function changePassword(form) {
            var obj = {
                username: form.username.value,
                currentPassword: form.password.value,
                newPassword: form.newPass.value
            }
            var json = JSON.stringify(obj);
            var xhttp = new XMLHttpRequest();
            xhttp.open("PATCH", "http://localhost:8080/account/changePassword");
            xhttp.setRequestHeader("Content-type", "application/json");
            xhttp.send(json);

            alert("Success! Your request was submitted!");
        }

    </script>

</head>
<body>
<form class="form">
    <label for="username">Employee Username:</label><br>
    <input type="text" id="username" name="username" placeholder="e.g. lilg"><br>
    <label for="password">Current Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="newPass">New Password:</label><br>
    <input type="password" id="newPass" name="newPass"><br>
    <input type="submit" value="Submit" onclick="changePassword(this.form)">
</form>
</body>
</html>