<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>
<body>

<script language="javascript">
    function callAPI(form) {
        var obj = [{
            payrollType: form.payrollType.value,
            employeeName: form.employeeName.value,
            address: form.address.value,
            social: form.social.value,
            position: form.position.value,
            payRate: parseFloat(form.payRate.value),
            username: form.username.value,
            password: form.password.value,
            email: form.email.value,
            privilegeLevel: form.privilegeLevel.value
        }];
        var json = JSON.stringify(obj);

        var xhttp = new XMLHttpRequest();
        xhttp.open("POST", "http://localhost:8080/manager/addEmployee");
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send(json);
    }
</script>

<form class="form" NAME="createEmployeeForm" ACTION="" METHOD="post">
    <label for="employeeName">Employee Name:</label><br>
    <input type="text" id="employeeName" name="employeeName"><br>
    <label for="address">Address:</label><br>
    <input type="text" id="address" name="address"><br>
    <label for="social">Social Security Number:</label><br>
    <input type="text" id="social" name="social"><br>
    <label for="position">Company Position:</label><br>
    <input type="text" id="position" name="position"><br>
    <label for="privilegeLevel">Company Privilege Level:</label><br>
    <select id="privilegeLevel" name="privilegeLevel">
        <option value="OWNER">Owner</option>
        <option value="MANAGER">Manager</option>
        <option value="EMPLOYEE">Employee</option>
        <option value="BOOKKEEPER">Bookkeeper</option>
    </select><br>
    <label for="payRate">Pay Rate:</label><br>
    <input type="text" id="payRate" name="payRate"><br>
    <label for="payrollType">Payroll Type (Salary or Hourly):</label><br>
    <select id="payrollType" name="payrollType">
        <option value="Salary">Salary</option>
        <option value="Hourly">Hourly</option>
    </select><br>
    <label for="email">Email:</label><br>
    <input type="text" id="email" name="email"><br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="verifyPassword">Verify Password:</label><br>
    <input type="password" id="verifyPassword" name="verifyPassword"><br>
    <br>
    <input type="submit" value="Submit" onclick="return callAPI(this.form)">
</form>

</body>
</html>