<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script language="javascript">
    function callAPI() {

        const Http = new XMLHttpRequest();
        const url="http://localhost:8080/employee/payroll";
        Http.open("GET", url);
        Http.send();
        Http.onload = (e) => {
            if(Http.status === 200){
                var j = JSON.parse(Http.responseText);

                for (var i = 0; i < j.length; i++) {
                    delete j[i].enterTimes
                    delete j[i].exitTimes
                    delete j[i].todaysDate
                    delete j[i].timeIn
                    delete j[i].timeOut
                    delete j[i].requestMessage
                    delete j[i].totalDayHours

                }

                var json = j;

                // Extract value from table header.
                // ('Book ID', 'Book Name', 'Category' and 'Price')
                var col = [];
                for (var i = 0; i < json.length; i++) {
                    for (var key in json[i]) {
                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }
                col.push("Weekly Payment Due")

                // Create a table.
                var table = document.createElement("table");

                // Create table header row using the extracted headers above.
                var tr = table.insertRow(-1);                   // table row.

                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");      // table header.
                    if(col[i] === "employeeId"){
                        th.innerHTML = "ID";
                    }
                    else if(col[i] === "employeeName"){
                        th.innerHTML = "Name";
                    }
                    else if(col[i] === "daysWorking"){
                        th.innerHTML = "Days Worked This Week";
                    }
                    else if(col[i] === "totalWeeklyHours"){
                        th.innerHTML = "Hours Worked This Week";
                    }
                    else if(col[i] === "payRate"){
                        th.innerHTML = "Pay Rate";
                    }
                    else if(col[i] === "payType"){
                        th.innerHTML = "Pay Type";
                    }
                    else{
                        th.innerHTML = col[i];
                    }
                    tr.appendChild(th);
                }

                // add json data to the table as rows.
                for (var i = 0; i < json.length; i++) {

                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        if(col[j] !== "Weekly Payment Due") {
                            var tabCell = tr.insertCell(-1);
                            tabCell.innerHTML = json[i][col[j]];
                        }
                        else if (col[j] === "Weekly Payment Due"){
                            var tabCell = tr.insertCell(-1);
                            if(json[i][col[5]] === "Hourly") {
                                tabCell.innerHTML = (json[i][col[3]] * json[i][col[4]]).toFixed(2);
                            }
                            else if(json[i][col[5]] === "Salary"){
                                tabCell.innerHTML = (json[i][col[4]] / 52).toFixed(2);
                            }
                        }
                    }
                }

                // Now, add the newly created table with json data, to a container.
                var divShowData = document.getElementById('showData');
                divShowData.innerHTML = "";
                divShowData.appendChild(table);
            }
            else{
                alert("Inventory not found")
            }
        }
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Payroll</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" href="css/bookkeeper.css">
</head>
<nav class="topnav">
    <a href="/bookkeeper">Home</a>
    <a href="/employeeInfo">Employee Info</a>
    <a class="active" href="/bookkeeperPayroll">Payroll</a>
    <a href="/bookkeeperContact">Contact</a>
    <a href="/bookkeeperHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout"></input>
    </form>
    <div class="settings"> <a href="/bookkeeperSettings"><img src="images/icons/settings.png" height="16" width="16"/></a></div>

</nav>
<body onload="callAPI()">
<div align="center">
    <h1 align="center">Current Payroll<br><br></h1>
    <p id='showData'></p>
</div>
</body>
</html>
