<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<script>
    function callAPI() {
        var id = document.getElementById("employeeId").value;
        const Http = new XMLHttpRequest();
        const url = "http://localhost:8080/bookkeeper/employeeInformation/" + id;
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange = function () {
            var j = JSON.parse(Http.responseText);
            var results = "Name: " + j.employeeName + "\nAddress: " + j.address + "\nSSN: " + j.social + "\nPosition: " + j.position + "\nPay Rate: $" + j.payRate + "\nPay Type: " + j.payrollType + "\nEmail: " + j.email;
            document.getElementById("showData").innerText = results;
            document.getElementById("displayInfo").style.display = "block";
        };
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Employee Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" href="css/bookkeeper.css">
</head>
<nav class="topnav">
    <a href="/bookkeeper">Home</a>
    <a class="active" href="/employeeInfo">Employee Info</a>
    <a href="/bookkeeperPayroll">Payroll</a>
    <a href="/bookkeeperContact">Contact</a>
    <a href="/bookkeeperHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>
<div id="getInfo">
    <div id="displayInfo">
        <p id="showData"></p>
    </div>
    <br> <br>
    <label>Employee ID: </label>
    <input type="number" name="employeeId" id="employeeId" placeholder="e.g. 1"><br> <br>
    <button class="empInfo" onclick="setTimeout(callAPI, 1)">Submit</button>
</div>
</body>
</html>