<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Employee Information</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" href="css/bookkeeper.css">
</head>
<nav class="topnav">
    <a href="/bookkeeper">Home</a>
    <a class="active" href="/employeeInfo">Employee Info</a>
    <a href="/bookkeeperPayroll">Payroll</a>
    <a href="/bookkeeperContact">Contact</a>
    <a href="/bookkeeperHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>
<div id="getInfo">

    <form class="form">
        <label>Search by Employee ID: </label>
        <input type="number" name="employeeId" id="employeeId" placeholder="e.g. 1"><br> <br>
        <button class="empInfo" onclick="callAPI(this.form)">Submit</button>
    </form>

    <br> <br>
    <div id="displayInfo">
        <p id="info">

        </p>
    </div>
</div>
<script>
    function callAPI(form) {
        const employeeId =  parseInt(form.employeeId.value)

        var xhttp = new XMLHttpRequest();
        var request = "http://localhost:8080/bookkeeper/employeeInformation";
        xhttp.open("POST", request);
        xhttp.setRequestHeader("Content-type", "application/json");
        xhttp.send();
        xhttp.onreadystatechange = function (){
            document.getElementById("info").innerText = xhttp.responseText;
        };

        // inner HTML for p tag
        document.getElementById("displayInfo").style.display = "block";

    }
</script>
</body>
</html>