<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Employee</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>

<nav class="topnav">
    <a class="active" href="/employee">Home</a>
    <a href="/employeeInventory">Inventory</a>
    <a href="/employeeVendorHomePage">Vendor Orders</a>
    <a href="/employeeBikeRepair">Bike Repair</a>
    <a href="/employeeContact">Contact</a>
    <a href="/employeeHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>

<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bikeBackground.jpg');">
        <h1>USER PAGE</h1>
    </div>
</div>

</body>
</html>