<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" href="css/contact.css">
</head>

<nav class="topnav">
    <a href="/employee">Home</a>
    <a href="/employeeDisplayInventory">Inventory</a>
    <a href="/employeeVendorHomePage">Vendor Orders</a>
    <a href="/employeeBikeRepair">Bike Repair</a>
    <a class="active" href="/employeeContact">Contact</a>
    <a href="/employeeHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>
<body>

<br>
<h1 align="center">Contact Information</h1>


<div class="container">
    <div id="ownerInfo">
        <h3>Owner's Information</h3>
        <p><strong>Name:</strong> Raymond Madachy</p>
        <p><strong>Working Hours:</strong> Mondays - Friday 9:00AM – 5:00PM</p>
        <p><strong>Mailing Address:</strong> 5500 Campanile Dr, San Diego, CA 92182</p>
        <p><strong>Phone Number:</strong> 619-594-6191</p>
        <p><strong>Fax:</strong> 619-594-6746</p>
        <p><strong>Email:</strong> rmadachy@sdsu.edu</p>
    </div>

    <div id="gmInfo">
        <h3>General Manager's Information</h3>
        <p><strong>Name:</strong> Jacob Byerline</p>
        <p><strong>Working Hours:</strong> Mondays - Friday 9:00AM – 5:00PM</p>
        <p><strong>Mailing Address:</strong> 5500 Campanile Dr, San Diego, CA 92182</p>
        <p><strong>Phone Number:</strong> 619-555-6725</p>
        <p><strong>Fax:</strong> 619-555-2723</p>
        <p><strong>Email:</strong> jbyerline@sdsu.com</p>
    </div>

    <div id="assisstManInfo">
        <h3>Assistant Manager's Information</h3>
        <p><strong>Name:</strong> John Doe</p>
        <p><strong>Working Hours:</strong> Wednesday - Sunday 9:00AM – 5:00PM</p>
        <p><strong>Mailing Address:</strong> 5500 Campanile Dr, San Diego, CA 92182</p>
        <p><strong>Phone Number:</strong> 619-555-1234</p>
        <p><strong>Fax:</strong> 619-555-8254</p>
        <p><strong>Email:</strong> jdoe@sdsu.edu</p>
    </div>
</div>

</body>
</html>
