<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<script language="javascript">
    function callAPI() {

        var xhttp = new XMLHttpRequest();
        xhttp.open("GET", "http://localhost:8080/inventory/retrieveInventory");
        alert(xhttp.responseText);

    }
</script>
<head>
    <title>Vendor Orders</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>

<nav class="topnav">
    <a href="/employee">Home</a>
    <a class="active" href="/employeeDisplayInventory">Inventory</a>
    <a href="/employeeVendorHomePage">Vendor Orders</a>
    <a href="/employeeBikeRepair">Bike Repair</a>
    <a href="/employeeContact">Contact</a>
    <a href="/employeeHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body onload="callAPI()">

<p>HELLO WORLD</p>

</body>
</html>