<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bike Repairs</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>

<nav class="topnav">
    <a href="/employee">Home</a>
    <a href="/employeeDisplayInventory">Inventory</a>
    <a href="/employeeVendorHomePage">Vendor Orders</a>
    <a class="active" href="/employeeBikeRepair">Bike Repair</a>
    <a href="/employeeContact">Contact</a>
    <a href="/employeeHelp">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
    <div class="settings"> <a href="/employeeSettings"><img src="images/icons/settings.png" height="16" width="16"/></a></div>

</nav>
<body>
<br><br>
<div align="center">
    <img src="images/construction.png" height="400" width="400"/>
</div>
<br><br>
</body>
</html>