#all-collapsibles {
    width: 50%;
}

.collapsible {
    margin-top: 20px;
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: #555;
}

.content {
    width: 100%;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.content.p {
    padding: 18px;
}