@font-face {
    font-family: SF-Pro;
    src: url('/fonts/SF-Pro.otf');
}

@font-face {
    font-family: SF-Pro-Bold;
    src: url('/fonts/SFProDisplay-Bold.ttf');
}

* {
    font-family: SF-Pro, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #DBE4E6;
}
.button {
    margin-left: 20px;
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
}
.button:hover {
    background-color: #6D97A4;
}

/*Quick Function Box*/

.quickFunctionBox {
    width: 500px;
    margin-top: 50px;margin-left: 50px;
}

.quickFunctionBox h2 {
    font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
    margin: 0;
    padding: 0;
}

.quickFunctionBox ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.quickFunctionBox li {
    font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
    border-bottom: 1px solid #ccc;
}

.quickFunctionBox li:last-child {
    border: none;
}

.quickFunctionBox li a {
    text-decoration: none;
    color: #000;
    display: block;
    /*width: 200px;*/

    -webkit-transition: font-size 0.3s ease, background-color 0.3s ease;
    -moz-transition: font-size 0.3s ease, background-color 0.3s ease;
    -o-transition: font-size 0.3s ease, background-color 0.3s ease;
    -ms-transition: font-size 0.3s ease, background-color 0.3s ease;
    transition: font-size 0.3s ease, background-color 0.3s ease;
}

.quickFunctionBox li a:hover {
    font-size: 25px;
    background: #f6f6f6;
}

/*Form*/
.form {
    margin: 50px 40%;
}

/*Form inputs rounded corners*/
.form input[type=text]{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: 1px solid #2d9fd9;
    color: #a0d18c;
    width: 250px;
    height: 30px;
    padding-left: 10px;
    margin: 5px 0;
}

.form input[type=text]:focus {
    outline: none;
    border: 1px solid #a0d18c;
}

/*Buttons containers*/
.buttons-container {
    margin: 50px 40%;
}