@font-face {
    font-family: SF-Pro;
    src: url('/fonts/SF-Pro.otf');
}

@font-face {
    font-family: SF-Pro-Bold;
    src: url('/fonts/SFProDisplay-Bold.ttf');
}

* {
    font-family: SF-Pro, serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background-color: #DBE4E6;
}
.button {
    margin-left: 20px;
    width: 300px;
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #7aa8b7;
    border-radius: 6px;
    outline: none;
}
.button:hover {
    background-color: #6D97A4;
}

.limiter {
    padding-top: 10px;
    padding-left: 15px;
}