<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bike Shop - About Us</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--===============================================================================================-->
    <link rel="icon" type="image/png" href="images/icons/logo"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">

    <!--===============================================================================================-->
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/contact">Contact</a>
    <a class="active" href="/about">About</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout"></input>
    </form>
</div>


<div class="limiter">
    <div class="container-login100" style="background-image: url('images/bikeBackground.jpg');">
        <h1>ABOUT PAGE</h1>
    </div>
</div>

</body>
</html>
