<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contact Information</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>
<body>

<div class="topnav">
    <a href="/">Home</a>
    <a href="/login">Login</a>
    <a class="active" href="/contact">Contact</a>
    <a href="/about">About</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</div>

<h1>CONTACT PAGE</h1>

<div>
    <h3>Owner's Information</h3>
    <p>Name: Raymond Madachy</p>
    <p>Working Hours: Mondays - Friday 9:00 AM – 5:00 PM</p>
    <p>Mailing Address: 5500 Campanile Dr, San Diego, CA 92182</p>
    <p>Phone Number: 619-594-6191</p>
    <p>Fax: 619-594-6746</p>
    <p>Email: rmadachy@sdsu.edu</p>
</div>

<div>
    <h3>General Manager's Information</h3>
    <p>Name: Jacob Byerline</p>
    <p>Working Hours: Mondays - Friday 9:00 AM – 5:00 PM</p>
    <p>Mailing Address: 5500 Campanile Dr, San Diego, CA 92182</p>
    <p>Phone Number: 619-555-6725</p>
    <p>Fax: 619-555-2723</p>
    <p>Email: jbyerline@gmail.com</p>
</div>

<div>
    <h3>Assistants Manager's Information</h3>
    <p>Name: John Doe</p>
    <p>Working Hours: Wednesday - Sunday 9:00 AM – 5:00 PM</p>
    <p>Mailing Address: 5500 Campanile Dr, San Diego, CA 92182</p>
    <p>Phone Number: 619-555-1234</p>
    <p>Fax: 619-555-8254</p>
    <p>Email: rmadachy@sdsu.edu</p>
</div>

</body>
</html>
