<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" type="text/css" href="css/home.css">
</head>
<body>

<div class="topnav">
    <a class="active" href="/">Home</a>
    <a href="/login">Login</a>
    <a href="/contact">Contact</a>
    <a href="/about">About</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout"></input>
    </form>
</div>

<img class="centeredImage" src="images/logo.png" alt="Bike Logo">



</body>
</html>
