<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" >
<script language="javascript">
    function callAPI() {

        const Http = new XMLHttpRequest();
        const url="http://localhost:8080/inventory/retrieveInventory";
        Http.open("GET", url);
        Http.send();
        Http.onload = (e) => {
            if(Http.status === 200){
                var j = JSON.parse(Http.responseText);

                for (var i = 0; i < j.length; i++) {
                    delete j[i].addedBy
                    delete j[i].addedDate
                    delete j[i].wholesaleCost
                    delete j[i].soldBy
                    delete j[i].soldDate
                    delete j[i].hashValue
                }

                var json = j;

                // Extract value from table header.
                // ('Book ID', 'Book Name', 'Category' and 'Price')
                var col = [];
                for (var i = 0; i < json.length; i++) {
                    for (var key in json[i]) {
                        if (col.indexOf(key) === -1) {
                            col.push(key);
                        }
                    }
                }

                // Create a table.
                var table = document.createElement("table");

                // Create table header row using the extracted headers above.
                var tr = table.insertRow(-1);                   // table row.

                for (var i = 0; i < col.length; i++) {
                    var th = document.createElement("th");      // table header.
                    if(col[i] === "bikeId"){
                        th.innerHTML = "ID";
                    }
                    else if(col[i] === "bikeDisplayName"){
                        th.innerHTML = "Name";
                    }
                    else if(col[i] === "make"){
                        th.innerHTML = "Make";
                    }
                    else if(col[i] === "model"){
                        th.innerHTML = "Model";
                    }
                    else if(col[i] === "color"){
                        th.innerHTML = "Color";
                    }
                    else if(col[i] === "retailCost"){
                        th.innerHTML = "Price";
                    }
                    else if(col[i] === "description"){
                        th.innerHTML = "Description";
                    }
                    else if(col[i] === "inStock"){
                        th.innerHTML = "In Stock";
                    }
                    else if(col[i] === "condition"){
                        th.innerHTML = "Condition";
                    }
                    else if(col[i] === "quantity"){
                        th.innerHTML = "Quantity";
                    }
                    else{
                        th.innerHTML = col[i];
                    }
                    tr.appendChild(th);
                }

                // add json data to the table as rows.
                for (var i = 0; i < json.length; i++) {

                    tr = table.insertRow(-1);

                    for (var j = 0; j < col.length; j++) {
                        var tabCell = tr.insertCell(-1);
                        tabCell.innerHTML = json[i][col[j]];
                    }
                }

                // Now, add the newly created table with json data, to a container.
                var divShowData = document.getElementById('showData');
                divShowData.innerHTML = "";
                divShowData.appendChild(table);
            }
            else{
                alert("Inventory not found")
            }
        }
    }
</script>
<head>
    <meta charset="UTF-8">
    <title>Inventory</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
</head>
<nav class="topnav">
    <a href="/owner">Home</a>
    <a class="active" href="/displayInventory">Inventory</a>
    <a href="/vendorHomePage">Vendor Orders</a>
    <a href="/bikeRepair">Bike Repair</a>
    <a href="/salesDiscounts">Sales/Discounts</a>
    <a href="/employeeHome">Managers/Employees</a>
    <a href="/payroll">Payroll</a>
    <a href="/ownerContact">Contact</a>
    <a href="/help">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body onload="callAPI()">
<div class="outside">
    <div class="inventory">
        <h1 align="center">Current Inventory<br><br></h1>
        <p id='showData'></p>
    </div>
    <div class="features">
        <a class="button" href="/inventory" target="_blank">Add To Inventory</a><br><br>
        <a class="button" onClick="window.location.reload();">Reload Inventory Database</a>
    </div>
</div>
<br>
</body>
</html>