<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Managers & Employees</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/png" href="images/icons/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="css/util.css">
    <link rel="stylesheet" type="text/css" href="css/main.css">
    <link rel="stylesheet" type="text/css" href="css/topnav.css">
    <link rel="stylesheet" type="text/css" href="css/bookkeeper.css">
</head>
<nav class="topnav">
    <a href="/owner">Home</a>
    <a href="/displayInventory">Inventory</a>
    <a href="/vendorHomePage">Vendor Orders</a>
    <a href="/bikeRepair">Bike Repair</a>
    <a href="/salesDiscounts">Sales/Discounts</a>
    <a class="active" href="/employeeHome">Managers/Employees</a>
    <a href="/payroll">Payroll</a>
    <a href="/ownerContact">Contact</a>
    <a href="/help">Help</a>
    <form th:action="@{/logout}" method="post">
        <input class="logoutButton" type="submit" value="Logout">
    </form>
</nav>

<body>
<div class="outside">
    <div class="one">
<div id="getInfo">
    <div id="displayInfo">
        <p id="showData"></p>
    </div>
    <br> <br>
    <label>Employee ID: </label>
    <input type="number" name="employeeId" id="employeeId" placeholder="e.g. 1"><br> <br>
    <button class="empInfo" onclick="setTimeout(callAPI, 1)">Submit</button>
</div>
    </div>
    <div class="line"></div>
    <div class="two">
        <a class="button" href="/createEmployee" target="_blank">Create a New Employee/Manager</a><br>
        <a class="button" href="/updateEmployee" target="_blank">Update Employee/Manager</a><br>
    </div>
</div>

<script>
    function callAPI() {
        var id = document.getElementById("employeeId").value;
        const Http = new XMLHttpRequest();
        const url = "http://localhost:8080/bookkeeper/employeeInformation/" + id;
        Http.open("GET", url);
        Http.send();
        Http.onreadystatechange = function () {
            var j = JSON.parse(Http.responseText);
            var results = "Name: " + j.employeeName + "\nAddress: " + j.address + "\nSSN: " + j.social + "\nPosition: " + j.position + "\nPay Rate: $" + j.payRate + "\nPay Type: " + j.payrollType + "\nEmail: " + j.email;
            document.getElementById("showData").innerText = results;
            document.getElementById("displayInfo").style.display = "block";
        };
    }
</script>

</body>
</html>